<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>dp-dynamic</title>
    </head>

    <style>
    </style>

    <body>
        <p class="dp-dynamic">
        my name is {{ajax(`/dp_dynamic/1/username`)}}
        </p>

        <!--<div class="dp-dynamic" dp-name="data" dp-data="{{ajax(`/dp_dynamic/data`)}}">
            <p>{{data.first}}</p>
            <p>{{data.last}}</p>
        </div>-->


    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
