<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>IP-graph</title>
    </head>

    <style>
    </style>

    <body>
        <div class="dp-for" dp-data="{{ajax(`/render`)}}">
            <p>{{item}}</p>
        </div>

        <div class="dp-for" dp-data="{{ajax(`/first`)}}">
            <p>{{item.title}}</p>
        </div>

        <!--new feature-->
        <p class="dp-for" dp-data="{{ajax(`/first`)}}">{{item.title}}</p>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
