<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>IP-graph</title>
    </head>

    <style>
    </style>

    <body>
        <ul class="dp-for" dp-data="{{ajax(`/dp_for/1`)}}">
            <li>{{item}}</li>
        </ul>

        <div class="dp-for" dp-data="{{ajax(`/dp_for/2`)}}">
            <p>
            <h3>{{item.title}}: </h3>
            {{item.description}}
            </p>
        </div>

        <!--new feature-->
        <p class="dp-for" dp-data="{{}}">{{item.title}}</p>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
