<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>index</title>
    </head>

    <style>
    </style>

    <body>
        <ul>
            <li><a href='/page/dp_component'>dp-component</a></li>
            <li><a href='/page/dp_dynamic'>dp-dynamic</a></li>
            <li><a href='/page/dp_for'>dp-for</a></li>
            <li><a href='/page/dp_if'>dp-if</a></li>
        </ul>
    </body>
</html>
