<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>IP-graph</title>
    </head>

    <style>
    </style>

    <body id="core">
        <list class="dp-component"></list>

        <list-blue class="dp-component"></list-blue>

        <p class="dp-dynamic">{{ajax (`/user/${getPathname(2)}/username`)}}</p>
        <p class="dp-dynamic">{{demo.test}}</p>

        <div class="dp-item" dp-name="test" dp-data="{{ajax(`/test`)}}">
            <p>{{test.first}}</p>
            <p>{{test.two}}</p>
        </div>

        <div class="dp-for" dp-name="render" dp-data="{{ajax(`/render`)}}">
            <p>{{item}}</p>
        </div>

        <div class="dp-for" dp-name="render" dp-data="{{ajax(`/first`)}}">
            <p>{{item.title}}</p>
        </div>

    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
