<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>IP-graph</title>
    </head>

    <style>
    </style>

    <body id="core">
        <list class="dp-component"></list>

        <list-blue class="dp-component"></list-blue>

        <p class="dp-dynamic">{{ajax (`/user/${getPathname(2)}/username`)}}</p>

        <div class="dp-array" dp-data="ajax(`/questionList`)">
            <p>{{title}}</p>
            <p>{{description}}</p>
        </div>

    </body>

    <script src="/drypot.js" charset="utf-8"></script>

</html>
